
body {
    background-image: url("map.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}

.bottom-align-text {
    position: absolute;
    bottom: 10%;
  }

 .top-align-text {
    position: absolute;
    top: 5%;
    right: 5%;
    height: 100px;
  }

li{
	font-size: 30px;
}